{
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    ["@babel/plugin-transform-runtime", {
      "helpers": false,
      "regenerator": true
    }]
  ],
  "presets": [
    ["@babel/env", {
      "loose": true,
      "targets": {
        "browsers": ["> 1%", "last 2 versions", "safari >= 8", "IE >= 10"]
      }
    }]
  ],
  "env": {
    "cover": {
      "plugins": ["istanbul"]
    }
  }
}
