{
  "plugins": [
    "transform-class-properties",
    ["transform-runtime", {
      "helpers": false,
      "polyfill": false,
      "regenerator": true
    }]
  ],
  "presets": [
    ["env", {
      "loose": true,
      "targets": {
        "browsers": ["> 1%", "last 2 versions", "safari >= 8", "IE >= 10"]
      }
    }]
  ],
  "env": {
    "cover": {
      "plugins": ["istanbul"]
    }
  }
}
