.landing {
  position: relative;
  background: #f5f5f5;
  min-height: 100%;
  padding-bottom: 150px;
}

#main {
  display: none !important;
  max-width: 900px;
  padding: 0 2em;
  margin: 0 auto;
  font-size: 16px;
  font-family: "Helvetica Neue", "Microsoft Yahei", sans-serif;
}

#main.show {
  display: block !important;
}

#hero {
  padding-top: 2em;
  text-align: center;
}

#hero canvas {
  width: 100%;
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

#hero h2 {
  color: #aaa;
  font-size: 1.5em;
  font-weight: normal;
  text-transform: capitalize;
}

#hero pre {
  display: inline-block;
  padding: 1em 2em;
  font-size: .85em;
  background-color: #f0f0f0;
  border-radius: 5px;
  border: 1px solid #eee;
  white-space: normal;
  text-align: left;
  font-family: Consolas, Monaco, "Andale Mono", monospace;
}

#hero code::before {
  content: '$';
  margin-right: .75em;
  user-select: none;
  opacity: .5;
}

#landing-buttons {
  margin-top: 2em;
  margin-bottom: 0;
  text-align: center;
}

#landing-buttons a {
  display: inline-block;
  color: #4594a9;
  margin: 0.5em 1em;
  padding: 0 2em;
  line-height: 40px;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid #4594a9;
  text-transform: uppercase;
}

#landing-buttons a:hover {
  text-decoration: none;
  transform: translate(0, 2px);
}

#landing-buttons a.home {
  color: #f5f5f5;
  background-color: #4594a9;
}

#intro {
  margin: 4em 0;
}

#intro::after {
  content: '';
  display: table;
  clear: both;
}

.card {
  float: left;
  width: 33%;
  padding: 0 2em;
  box-sizing: border-box;
}

.card h3 {
  color: #666;
  font-size: 1.5em;
  font-weight: normal;
}

.card a {
  color: #4594a9;
}

.card p {
  color: #353535;
}

#footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 150px;
  width: 100%;
  padding: 40px 0;
  background: #637383;
  box-sizing: border-box;
}

#footer p {
  margin: 0;
  text-align: center;
  color: #ccc;
}

#footer a {
  color: #eee;
}

#social-share {
  position: absolute;
  top: 1em;
  left: 1em;
}

@media screen and (max-width: 768px) {
  #main {
    font-size: 14px;
    text-align: left;
  }

  #hero {
    padding-top: 4em;
  }

  #hero h2 {
    text-align: left;
  }

  #landing-buttons a {
    font-size: 12px;
  }

  .card {
    float: none;
    width: 100%;
    padding: 0;
  }
}
