/* Override default styles of docute */
body {
  font-family: "Open Sans", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

.sidebar-heading-anchor.active,
.sidebar-heading-anchor:hover {
  color: #3292ab !important;
}

.router-link-active {
  border-color: #3292ab !important;
}

.is-mobile .router-link-active {
  color: #3292ab !important;
}

.markdown-heading:focus {
  color: #3292ab !important;
}

.header-left {
  -webkit-tap-highlight-color: transparent;
}

.tip {
  border-left-color: #f7d24c !important;
  background-color: #fefbed !important;
}

.tip::before {
  background-color: #f7d24c !important;
}

.warning {
  background: #fff8f8 !important;
}

.main {
  overflow: hidden;
  padding-bottom: 50px;
}

.no-sidebar .main {
  margin-bottom: 0;
  border-bottom: none;
}

#nprogress .bar {
  background: #3292ab;
}

#nprogress .spinner-icon {
  border-top-color: #3292ab;
  border-left-color: #3292ab;
}

.markdown-body pre {
  border-radius: 0;
}

.markdown-body pre::after {
  content: none;
}

.markdown-heading + pre {
  color: #000;
  background: #f5fafb;
}

.markdown-heading + pre::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 100%;
  background: #3292ab;
}

/* Type field */
.markdown-body table td:nth-child(2) {
  white-space: nowrap;
  text-align: center;
}

.sidebar-heading[data-level="3"] .sidebar-heading-anchor {
  padding-left: 2em;
}
.token.string {
  color: #690;
}
