/* Override default styles of docute */
body {
  font-family: "Open Sans", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

.sidebar-heading-anchor.active,
.sidebar-heading-anchor:hover {
  color: #3292ab !important;
}

.router-link-active {
  border-color: #3292ab !important;
}

.is-mobile .router-link-active {
  color: #3292ab !important;
}

.markdown-heading:focus {
  color: #3292ab !important;
}

.header-left {
  -webkit-tap-highlight-color: transparent;
}

.main {
  overflow: hidden;
  padding-bottom: 0;
}

.no-sidebar .main {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}

#nprogress .bar {
  background: #3292ab;
}

#nprogress .spinner-icon {
  border-top-color: #3292ab;
  border-left-color: #3292ab;
}

.markdown-body pre {
  border-radius: 0;
}

.markdown-body pre::after {
  content: none;
}

.markdown-heading + pre {
  color: #000;
  background: #f5fafb;
}

.markdown-heading + pre::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 100%;
  background: #3292ab;
}

/* Type field */
.markdown-body table td:nth-child(2) {
  white-space: nowrap;
  text-align: center;
}

.sidebar-heading[data-level="3"] .sidebar-heading-anchor {
  padding-left: 2em;
}
.token.string {
  color: #690;
}

/* footer */
#page-footer {
  margin-top: 3em;
  padding: 1em 2em;
  font-size: 12px;
  border-top: 1px solid #f2f2f2;
}

#page-footer span {
  color: #ccc;
  padding-right: 0.5em;
}

#page-footer a {
  color: #aaa;
  text-decoration: none;
}

#page-footer a:hover {
  text-decoration: underline;
}
